#new-character

  .races
    %ul.list-group
      - @races.each do |race|
        = render partial: 'race_short_info', locals: { race: race }

  .current-character

  .classes
    %ul.list-group
      .title
        CLASSE
      - @classes.each do |classe|
        = render partial: 'classe_short_info', locals: { classe: classe }
