// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard
{

  .logo-wow
  {
    width: 250px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .button-wow
  {
    color: yellow;
    background-color: red;
  }

  .current-character
  {
    position: absolute;
    bottom: 20px;
    left: 40%;

    .button-entry
    {

    }

  }

  .characters
  {
    @include make-xs-column(2);
    @include make-sm-column(2);
    @include make-md-column(3);
    @include make-lg-column(3);

    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    margin: 10px;
    border-width: 5px;
    border-style: double;
    border-radius: 15px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.1);

    ul
    {
      li
      {
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
        line-height: 15px;
      }

      li.active
      {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
      }
    }

    .name
    {
      color: #9E9E9E;
      font-weight: bold;
    }

    .button-add-charac
    {
      position: absolute;
      bottom: 20px;
      left: 20%;
    }

  }

}