// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard
{
  width: 100%;
  height: 100%;

  .logo-wow
  {
    width: 250px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .button-entry
  {

    // color: yellow;

  }
}